@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

// Variables

$heading-color: rgb(72, 85, 106);
$main-color: hsl(214, 17%, 51%);
$arrow-color: hsl(212, 23%, 69%);
$main-bg: hsl(210, 46%, 95%);

// Globals

html {
  box-sizing: border-box;
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $main-bg;
  min-height: 100vh;
  position: relative;
}

// Main styles //

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 20px;
  width: 1350px;
  background-color: white;
}

.photo {
  &__img {
    width: 600px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
  }
}

.text {
  padding: 3rem 5rem;
  color: $main-color;

  &__header {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: $heading-color;
  }

  &__body {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__footer {
    &__img {
      height: 6rem;
      margin-right: 2rem;
      border-radius: 50%;
      float: left;
    }

    &__name {
      color: $heading-color;
    }

    &__date {
      font-size: 1.5rem;
    }

    &__share {
      background-color: $main-bg;
      border: none;
      border-radius: 50%;
      float: right;
      padding: 1rem;
      margin-top: -3rem;
    }

    &__share:hover {
      cursor: pointer;
    }
  }

  &__aside {
    display: none;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

// Media queries //
